
.container {
  margin: auto;
  justify-content: center;
}

.banner {
  width: 100vw;
  height: 50px;
  background-color: #163165;
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  font-size: 20px;
  padding-top: 10px;
}

.input_container {
  margin: 20px auto;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.input_container > span {
  margin-left: 20px;
}

.input_container > button {
  margin-left: 20px;
  border: none;
  background-color: #163165;
  color: #ffffff;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

input[type="number"] {
  width: 80px;
  margin-left: 5px;
  border-radius: 5px;
}

.ta_container {
  width: 100%;
}

.results_container {

  width: 50%;
  text-align: center;
  color: #163165;
}

.ta_container_left {
  float: left;
  width: 50%;
  text-align: center;
  color: #163165;
}

.ta_container_right {
  float: right;
  width: 50%;
  text-align: center;
  color: #163165;
}

textarea {
  min-height: 400px;
  width: 90%;
  justify-content: center;
  border-radius: 5px;
  resize: none;
}

hr {
  background-color: #404349;
  height: 1px;
  border: none;
}

button {
  margin-left: 20px;
  border: none;
  background-color: #163165;
  color: #ffffff;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  margin: auto;
}
